.contact-wrapper {
  position: relative;
  top: -600px;
  width: auto;
  height: 100%;
  -webkit-animation: drop 0.75s forwards 0.5s;
  animation: drop 0.75s forwards 0.5s;
}

.body-wrapper {
  margin: 1.5rem;
  position: relative;
  /* top: -500px; */
  width: auto;
  height: auto;
  /* -webkit-animation: drop 0.75s forwards 0.5s;
  animation: drop 0.75s forwards 0.5s; */
}

@-webkit-keyframes drop {
  100% {
    top: 0;
  }
}

@keyframes drop {
  100% {
    top: 0;
  }
}

mat-toolbar {
  height: 4rem;
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}


span.breadcrumbs,
p.back-button {
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  padding: 0 1rem;
  margin: 0;
  width: auto;
  cursor: pointer;
}

span.breadcrumbs,
p.back-button:hover {
  cursor: pointer;
  color: #585858;
}

.headline-container {
  padding: 2rem 0.5rem;
  height: auto;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  height: auto;
  position: relative;
}


.error-container {
  padding: 1rem 0.5rem;
}

.error-container,
.error-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
}

.link-wrapper {
  padding: 0 0.5rem;
}

mat-list-item {
  padding: 0;
  line-height: 0.5rem;
}

mat-nav-list mat-list-item h3 {
  display: inline-block;
  /* font-size: 1.5rem;
  font-weight: 400; */
}


mat-list-item {
  height: auto;
  position: relative;
  /* left: -500px; */
  width: 20rem;
  height: auto;
}

mat-list mat-list-item:hover {
  cursor: pointer;
  color: red;
}


.footer-wrapper,
.footer-content {
  position: absolute;
  bottom: 0;

}

.footer-wrapper,
.footer-content {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 1rem;
  margin: auto;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
}

.footer-text:hover {
  cursor: pointer;
}

.footer-content {
  position: relative;
  width: auto;
  height: auto;
  -webkit-animation: show-footer 0.2s forwards 2s;
  animation: show-footer 0.2s forwards 2s;
}

@-webkit-keyframes show-footer {
  100% {}
}

@keyframes show-footer {
  100% {}
}
