.contact-wrapper {
  position: relative;
  width: auto;
  height: 100%;
}

.body-wrapper {
  margin: 1.5rem;
  position: relative;
  width: auto;
  height: auto;
}

mat-toolbar {
  height: 4rem;
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}


span.breadcrumbs {
  display: inline-flex;
}

.route {
  opacity: 50%;
}

.home {
  cursor: pointer;
}

span.breadcrumbs {
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  padding: 0 1rem;
  margin: 0;
  width: auto;
}

.headline-container {
  padding: 2rem 0.5rem;
  height: auto;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  height: auto;
  position: relative;
}


.error-container {
  padding: 1rem 0.5rem;
}

.error-container,
.error-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
}

.link-wrapper {
  padding: 0 0.5rem;
}

mat-list-item {
  padding: 0;
  line-height: 0.5rem;
}

mat-nav-list mat-list-item h3 {
  display: inline-block;

}

mat-list-item {
  height: auto;
  position: relative;
  width: 20rem;
  height: auto;
}

mat-list mat-list-item:hover {
  cursor: pointer;
  color: red;
}


.footer-wrapper,
.footer-content {
  position: absolute;
  bottom: 0;

}

.footer-wrapper,
.footer-content {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 1rem;
  margin: auto;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
}

.footer-content {
  position: relative;
  width: auto;
  height: auto;
  opacity: 75%;
}
