<div class="about-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <span class="breadcrumbs">
        <p class="home" (click)="onHome()">/ home</p>
        <pre> </pre>
        <p class="route">/ {{activeRoute}}</p>
      </span>
      <span class="spacer"></span>
      <!-- <p class="back-button" (click)="onHome()">Home</p> -->
    </mat-toolbar>
  </div>
  <div class="body-wrapper ">
    <div class="headline-container">
      <h1>
        About.
      </h1>
    </div>
    <div class="about-container">
      <div class="intro-container">
        <p class="intro-text body-text">
          Nightmares.io is a personal project by Hampus Lagsten. The site is used as a digital résumé where you
          can find updated information about Hampus, his projects, competences and availability. <br><br>

          With 8 years of professional experience, mainly in business analysis, product and project management, Hampus
          excel
          in leading technical transformation, solution architecture, product development, and diverse product delivery
          models.
          <br>
          While passionate about software development, especially Angular and web technologies, the primary focus has
          been concentrated on strategic planning, product roadmap development and risk management, rather than daily
          coding. Hampus is a generalist with an open-minded approach, high adaptability, and a constant eagerness to
          learn.
        </p>
      </div>
      <div class="content-section experience">
        <h2 class="content-header">Experience</h2>
        <div class="content-text body-text">
          <section>
            <h3>Swedbank AB, Stockholm Sweden | Product Owner </h3>
            <h4>2021 - PRESENT</h4>
            <p>As the Product Owner of Swedbank’s Frontend Development Platform, I have successfully led its
              transformation into a Group-wide Strategic Development Platform, now utilized by approximately 200
              software developers and 25 applications, including the Swedish and Baltic Internet Bank Applications.
              The product ownership also includes leading a highly regarded core team at the bank, central in setting
              the future for the organization's technical possibilities.</p>
            <i>Key Achievements:</i>
            <ul>
              <li>Led the implementation of an Evergreen approach to the platform’s technology stack, resulting in an
                enterprise-level platform with minimal to zero technical debt, enabling the opportunity to work with the
                latest technologies for me, my team and hundreds of Software Engineers. </li>
              <li>Made strategic decisions to modernize the toolchain and processes for application delivery,
                transitioning from 12 centrally managed production deployments per year to fully automated continuous
                delivery, while maintaining compliance in a highly regulated market.</li>
              <li>Adopted cloud transformation strategies, utilizing cloud services in multiple areas to transition the
                platform from static to highly dynamic and scalable, achieving cost efficiency and improved performance.
              </li>
            </ul>
          </section>
          <section>
            <h3>Swedbank AB, Stockholm, Sweden — Business Analyst</h3>
            <h4>2020 - 2021</h4>
            <p>Designed and implemented critical business and IT processes to support the bank’s digital strategies.
              <br><br>

              Served as Scrum Master, facilitating agile practices to enhance team collaboration and productivity.

              Led the analysis and designed the process for a large-scale migration project, ensuring alignment with
              strategic objectives and effective risk management.
            </p>
          </section>
          <section>
            <h3>Nexer (Sigma IT Consulting), Stockholm, Sweden — Project Manager & Business Analyst</h3>
            <h4>2017 - 2020</h4>
            <p>Led product development for a business critical, multi-channel messaging platform, successfully rolled
              out internationally across 12 countries. <br><br>

              Delivered a fully managed SaaS, including product development, presales, upselling, and driving business
              innovation for clients.</p>
          </section>
          <section>
            <h3>Nexer (Sigma IT Consulting), Stockholm, Sweden — Business Analyst</h3>
            <h4>2016 -2017</h4>
            <p>Served as a Junior Business Analyst and began my journey towards Project Management, specializing in ERP
              and CRM implementations within the manufacturing and vehicle production sectors.</p>
          </section>
        </div>

      </div>
      <div class="content-section skills">
        <h2 class="content-header">Skills</h2>
        <p class="content-text body-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          <br><br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse
          cillum dolore eu fugiat nulla pariatur.
        </p>
        <h4>Management skills</h4>
        <mat-list>
          <mat-list-item>
            <h5> > Product Development</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Platform Delivery</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Solution Architecture</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Strategic Planning & Technical Transformation</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Agile Methodologies</h5>
          </mat-list-item>
        </mat-list>

        <h4>Technical skills</h4>
        <mat-list>
          <mat-list-item>
            <h5> > TypeScript</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Angular</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > REST API's</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Microsoft Azure</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > DevOps and CI/CD Practices</h5>
          </mat-list-item>
          <mat-list-item>
            <h5> > Monorepos</h5>
          </mat-list-item>
        </mat-list>
      </div>

      <div class="content-section education body-text">
        <h2>Education</h2>
        <h3>Umeå University | Department of Computer Science
        </h3>
        <h4>2022-2022</h4>
        <p>Web Technologies for Engineers, React, 7.5hp, Pass with Merit
        </p>

        <h3>Luleå University of Technology | Department of Social Sciences, Technology and Arts
        </h3>
        <h4>2022-2022</h4>
        <p>Introductory Financial Economics, 7,5hp, Pass
        </p>

        <h3>Stockholm University | Department of Computer and Systems Science
        </h3>
        <h4>2013-2016</h4>
        <p>B.Sc. Computer & Systems Science <br>
          Minor in Service Oriented Architecture and Enterprise Resource Planning. <br>
          Thesis at Nexer (Sigma IT Consulting) on BI in Strategic Procurement & Manufacturing.
        </p>
      </div>
      <section class="contact-nav">
        <div class="contact-button">
          <button mat-raised-button color="primary" (click)="onContact()"> Contact</button>
        </div>
      </section>

    </div>
    <div class="footer-wrapper">
      <div class="footer-content">
        <p class="footer-text">
          <a routerLink="/home">
            &copy; Nightmares AB | 2024</a>
        </p>
      </div>
    </div>
  </div>
