<div class="about-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <span class="breadcrumbs">
        <p class="home" (click)="onHome()">home</p>
        <pre> </pre>
        <p class="route">/ {{activeRoute}}</p>
      </span>
      <span class="spacer"></span>
      <!-- <p class="back-button" (click)="onHome()">Home</p> -->
    </mat-toolbar>
  </div>
  <div class="body-wrapper ">
    <div class="headline-container">
      <h1>
        About.
      </h1>
    </div>
    <div class="about-container">
      <div class="intro-container">
        <p class="intro-text body-text">
          Welcome to nightmares.io, a personal project by Hampus Lagsten. The site is used as a digital résumé where you can find updated information about me, my projects and availability. <br><br>
          
          I’m Computer Scientist and consultant based in Stockholm, Sweden, with over 8 years of professional experience. Specializing in Technical Transformation, Project Management, Business Analysis and Software Engineering, I’ve had the privilege of working with prominent companies in various sectors, from vehicle manufacturing, Travel Management, Retail and Banking, across multiple countries. Learn more about who I am, what I do, and how I can support your organization.
          </p>
  
          <br>
         <h5> Current Assignment:</h5> 
         <p class="intro-text body-text" > Product Owner of an Enterprise Development Platform at one of the largest banks in the Scandinavian and Baltic regions.</p>
        
      </div>
      <p class="about-text body-text ">
        With 8 years of professional experience, and primary focus on project management and business analysis, I excel in driving technical transformation, designing solution architecture and leading product development and various forms of product delivery, such as Platform as a Service to fully managed Software as a Service. 
Apart from being hands-on in technical implementations, I’ve focused on strategic planning, developing product roadmaps and leading risk management. Although passionate about software development, particularly in Angular and web technologies, I prioritize leading development rather than daily coding. I see myself as a generalist, with an open minded approach,  high adaptability and constant eagerness to learn.

      </p>
      <div class="content-section experience">
        <h2 class="content-header">Experience</h2>
        <div class="content-text body-text">
        <section >
          <h4>Swedbank AB, Stockholm Sweden | Product Owner </h4>
          <h5>2021 - PRESENT</h5>
          <p>As the Product Owner of Swedbank’s Frontend Development Platform, I have successfully led its transformation into a Group-wide Strategic Development Platform, now utilized by approximately 200 software developers and 25 applications, including the Swedish and Baltic Internet Bank Applications.
          The product ownership also includes leading a highly regarded core team at the bank, central in setting the future for the organization's technical possibilities.</p> <br>
          <i>Key Achievements:</i>
            <ul>
              <li>Led the implementation of an Evergreen approach to the platform’s technology stack, resulting in an enterprise-level platform with minimal to zero technical debt, enabling the opportunity to work with the latest technologies for me, my team and hundreds of Software Engineers. </li>
              <li>Made strategic decisions to modernize the toolchain and processes for application delivery, transitioning from 12 centrally managed production deployments per year to fully automated continuous delivery, while maintaining compliance in a highly regulated market.</li>
              <li>Adopted cloud transformation strategies, utilizing cloud services in multiple areas to transition the platform from static to highly dynamic and scalable, achieving cost efficiency and improved performance.</li>
            </ul>
        </section>
        <section>
          <h4>Swedbank AB, Stockholm, Sweden — Business Analyst</h4>
          <h5>2020 - 2021</h5>
          <p>Designed and implemented critical business and IT processes to support the bank’s digital strategies. <br><br>
          
            Served as Scrum Master, facilitating agile practices to enhance team collaboration and productivity.
            
            Led the analysis and  designed the process for a large-scale migration project, ensuring alignment with strategic objectives and effective risk management.</p>
        </section>
        <section>
          <h4>Nexer (Sigma IT Consulting), Stockholm, Sweden — Project Manager & Business Analyst</h4>
          <h5>2017 - 2020</h5>
          <p>Led product development for a business critical, multi-channel messaging platform, successfully rolled out internationally across 12 countries. <br><br>
          
            Delivered a fully managed SaaS, including product development, presales, upselling, and driving business innovation for clients.</p>
        </section>
        <section>
          <h4>Nexer (Sigma IT Consulting), Stockholm, Sweden — Business Analyst</h4>
          <h5>2016 -2017</h5>
          <p>Served as a Junior Business Analyst and began my journey towards Project Management, specializing in ERP and CRM implementations within the manufacturing and vehicle production sectors.</p>
        </section>
      </div>

      </div>
      <div class="content-section skills">
        <h3 class="content-header">Skills</h3>
        <p class="content-text body-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          <br><br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse
          cillum dolore eu fugiat nulla pariatur.
        </p>
        <mat-list>
          <mat-list-item>
            <h6> > Product Ownership</h6>
          </mat-list-item>
          <mat-list-item>
            <h6> > Project Managment</h6>
          </mat-list-item>
          <mat-list-item>
            <h6> > Business Analysis</h6>
          </mat-list-item>
          <mat-list-item>
            <h6> > Google Analysis</h6>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="content-section technologies body-text">
        <h3 class="content-header">Technologies</h3>
        <div class="technology">
          <h4>TypeScript</h4>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa? Hic doloremque porro deserunt
            laboriosam accusantium. Deleniti doloremque nemo quidem nostrum volupt</p>
        </div>
        <div class="technology">
          <h4>Angular</h4>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa? Hic doloremque porro deserunt
            laboriosam accusantium. Deleniti doloremque nemo quidem nostrum volupt</p>
        </div>
        <div class="technology">
          <h4>NodeJS</h4>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa? Hic doloremque porro deserunt
            laboriosam accusantium. Deleniti doloremque nemo quidem nostrum volupt</p>
        </div>
        <div class="technology">
          <h4>Go</h4>
          <p class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, culpa? Hic doloremque porro deserunt
            laboriosam accusantium. Deleniti doloremque nemo quidem nostrum volupt</p>
        </div>
      </div>
    </div>
    <section class="contact-nav">
      <div class="contact-button">
        <button mat-raised-button color="primary" (click)="onContact()"> Contact</button>
      </div>
    </section>

  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        &copy; Nightmares AB | 2024
      </p>
    </div>
  </div>
</div>
