.contact-wrapper {
  position: relative;
  top: -750px;
  width: auto;
  height: 100%;
  -webkit-animation: drop 0.75s forwards 0.5s;
  animation: drop 0.75s forwards 0.5s;
}

.body-wrapper {
  margin: 1.5rem;
  position: relative;
  /* top: -500px; */
  width: auto;
  height: auto;
  /* -webkit-animation: drop 0.75s forwards 0.5s;
  animation: drop 0.75s forwards 0.5s; */
}

@-webkit-keyframes drop {
  100% {
    top: 0;
  }
}

@keyframes drop {
  100% {
    top: 0;
  }
}

mat-toolbar {
  height: 4rem;
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}

span.breadcrumbs {
  display: inline-flex;
}

.route {
  opacity: 50%;
}

.home {
  cursor: pointer;
}

span.breadcrumbs,
p.back-button {
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  padding: 0 1rem;
  margin: 0;
  width: auto;
}

p.back-button {
  cursor: pointer;
}

.headline-container {
  padding: 2rem 0.5rem;
  height: auto;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  height: auto;
  position: relative;
}

.contact-container {
  padding: 2rem 0.5rem;
}

.contact-container,
.contact-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: rgb(227, 100, 147);
  ;
}

.icon-section {
  font-size: 2rem;
  margin-top: 1.5rem;
}

i {
  margin-right: 1rem;
  cursor: pointer;
}

.fa-github:hover,
.fa-linkedin:hover {
  color: rgb(216, 27, 96);
}



.footer-wrapper,
.footer-content {
  position: absolute;
  bottom: 0;

}

.footer-wrapper,
.footer-content {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 1rem;
  margin: auto;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
}

.footer-text:hover {
  cursor: pointer;
}

.footer-content {
  position: relative;
  width: auto;
  height: auto;
  opacity: 75%;
}
