<div class="contact-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <span class="breadcrumbs">
        <p class="home" (click)="onHome()">/ home</p>
        <pre> </pre>
        <p class="route">/ {{activeRoute}}</p>
      </span>
      <span class="spacer"></span>
      <!-- <p class="back-button" (click)="onHome()">Home</p> -->
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1>
        Contact.
      </h1>
    </div>
    <div class="contact-container">
      <p class="contact-text">
        Seeking technical leadership or additional expertise to strengthen your team, or lead your organization in
        upcoming challenges? Reach out and let us explore potential collaborations.
        <br><br>
        <b>Email: </b> <a href="mailto:hello@fractions.dev">hello&#64;fractions.dev</a><br>
        <b>Phone: </b> <a href="tel:+46703155239">+46 70 31 55 239</a> <br>
      </p>
      <div class="link-wrapper">
        <div class="link-container">
          <div class="icon-section">
            <a href="https://x.com/fractions_dev" target="_blank"> <i class="fa-brands fa-twitter twitter"> </i> </a>
            <a href="https://www.linkedin.com/in/hampus-lagsten-b9a238b5/" target="_blank"> <i
                class="fa-brands fa-linkedin linkedin"></i>
            </a>
            <a href="https://github.com/citium1" target="_blank"> <i class="fa-brands fa-github github"> </i> </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        <a routerLink="/home">
          &copy; fractions.dev | 2024</a>
      </p>
    </div>
  </div>
</div>
