<div class="contact-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <p class="breadcrumbs">Home / Contact</p>
      <span class="spacer"></span>
      <p class="back-button">Back</p>
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1>
        Contact.
      </h1>
    </div>
    <div class="contact-container">
      <p class="contact-text">
        Do you need help with your next challenge, or looking to staff additional resources for your organization? Dont
        hesitate to reach out!

        <br><br>

        Email: <a href="mailto:info@citium.tech">info&#64;citium.tech</a><br>
        Phone: <a href="tel:+46703155239">070 31 55 239</a> <br>
        Address: Box 123, Stockholm, Sweden <br>
      </p>

      <div class="icon-section">
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>

      </div>

    </div>
    <div class="link-wrapper">
      <div class="link-container">
        <ul class="link-list">
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        &copy; Citium Technologies AB | 2024
      </p>
    </div>
  </div>
</div>
