<div class="apps-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <span class="breadcrumbs">
        <p class="home" (click)="onHome()">/ home</p>
        <pre> </pre>
        <p class="route">/ {{activeRoute}}</p>
      </span>
      <!-- <p class="back-button" (click)="onHome()">Home</p> -->
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1>
        Apps.
      </h1>
    </div>
    <div class="apps-container body-text">
      <div class="apps-container">
        <p class="apps-text ">
          Hi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          <br><br>
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse
        </p>
        <div class="content-section apps">
          <div class="citium-app content-section">
            <h3 class="content-header">This Website</h3>
            <a href="www.citium.tech">citium.tech</a>
            <p class="content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            </p>
            <a href="www.github.com" style="font-family: monospace; text-decoration: none;">
              source code
            </a>
          </div>
          <div class="notebook-app content-section">
            <h3 class="content-header">Notebook</h3>
            <a href="www.example.com">apps.notebook.citium.tech</a>
            <p class="content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            </p>
            <a href="www.github.com" style="font-family: monospace; text-decoration: none;">
              source code
            </a>
          </div>
          <div class="task-app content-section">
            <h3 class="content-header">Tasks</h3>
            <a href="www.example.com">apps.tasks.citium.tech</a>
            <p class="content-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            </p>
            <a href="www.github.com" style="font-family: monospace; text-decoration: none;">
              source code
            </a>
          </div>

        </div>
      </div>
    </div>

    <section class="contact-nav">
      <div class="contact-button">
        <button mat-raised-button color="primary" (click)="onContact()"> Contact</button>
      </div>
    </section>

  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        <a routerLink="/home">
          &copy; Nightmares AB | 2024</a>
      </p>
    </div>
  </div>
</div>
