<div class="apps-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <span class="breadcrumbs">
        <p class="home" (click)="onHome()">/ home</p>
        <pre> </pre>
        <p class="route">/ {{activeRoute}}</p>
      </span>
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1>
        Apps.
      </h1>
    </div>
    <div class="apps-container body-text">
      <div class="apps-container">
        <p class="apps-text ">
          This portfolio features a collection of live applications developed by Hampus, alongside access to his GitHub
          repository. While his primary role is not in day-to-day development, Hampus maintains an active passion for
          software engineering. His personal projects serve as a practical approach to exploring and mastering
          technologies encountered in his leadership role, enhancing his technical acumen and strategic capabilities as
          a technology leader.
        </p>
        <div class="contact-link">
          <a>
            <h4 routerLink="/contact">/contact </h4>
          </a>
          <a href="https://github.com/citium1" target="_blank">
            <h4> /github </h4>
          </a>
        </div>
        <div class="content-section apps">
          <div class="fractions-app content-section">
            <h2 class="content-header">This Website</h2>
            <a href="https://fractions.dev/" target="_blank">
              <h4>https://fractions.dev/</h4>
            </a>
            <p class="content-text">
              The portfolio website used as a one-stop shop to showcase Hampus professional profile & share contact
              details. <br>
              Built with Angular 18.2.10. Utilizes Service Workers to work as a PWA. Can be installed on your phone or
              desktop, working 100% offline.
            </p>
          </div>
          <div class="citium-app content-section">
            <h2 class="content-header">Citium Technologies AB</h2>
            <a href="https://citium.tech/" target="_blank">
              <h4>https://citium.tech/</h4>
            </a>
            <p class="content-text">
              Vanilla JS & Bootstrap 5.
            </p>
          </div>
          <div class="dog-app content-section">
            <h2 class="content-header">Dogs</h2>
            <a href="https://uni-react-app.pages.dev/" target="_blank">
              <h4>https://uni-react-app.pages.dev/</h4>
            </a>
            <p class="content-text">
              React & plain CSS.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div class="contact-link-bottom">
      <a>
        <h4 routerLink="/contact">/contact </h4>
      </a>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        <a routerLink="/home">
          &copy; fractions.dev | 2024</a>
      </p>
    </div>
  </div>
</div>
