.apps-wrapper {
  position: relative;
  height: 100%;
}

.header-wrapper {
  width: 100%;
}

.body-wrapper {
  padding: 0rem 15rem;
}

mat-toolbar {
  height: 4rem;
  background: inherit;
  padding: 3rem;
  font-size: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.route {
  opacity: 50%;
}

.home {
  cursor: pointer;
}

span.breadcrumbs,
p.back-button {
  display: inline-flex;
  background-color: transparent;
  font-weight: 300;
  line-height: 1.25rem;
  margin: 0;
  width: auto;
}

.headline-container {
  padding: 2rem 0;
  height: auto;
}

h1 {
  font-size: 8rem;
  margin: 4rem 0 0 0;
  position: relative;
  opacity: 90%;
}

h2 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
  opacity: 70%;
}

h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  opacity: 50%;
  font-weight: 400;
  line-height: 3rem;
}

h4 {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  opacity: 80%;
  font-weight: 400;
  line-height: 1.7rem;
}

h5 {
  font-weight: 400;
}

.apps-container,
.about-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  width: auto;
  position: relative;
  /* opacity: 80%; */
}

.content-section {
  padding-top: 0rem;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: var(--main-color);
}

section .contact-nav .contact-button button:hover {
  cursor: pointer;
}

.contact-link {
  display: flex;
}

.contact-link a {
  margin-right: 1rem;
}

.contact-link,
.contact-link-bottom {
  margin: 2rem 0;
}

.footer-wrapper {
  position: fixed;
  bottom: 0;
}

.footer-wrapper,
.footer-content {
  position: relative;
  width: 100%;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  margin: auto;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
}

.footer-text,
a {
  text-decoration: none;
  color: inherit;
}

.footer-text a:hover {
  cursor: pointer;
  opacity: 100%;
}

.footer-content {
  position: relative;
  width: auto;
  height: auto;
  opacity: 75%;
}

@media only screen and (max-width: 440px) {
  .body-wrapper {
    padding: 0 2rem;
  }

  mat-toolbar {
    height: 3rem;
    font-size: 1.5rem;
    height: 4rem;
    background: inherit;
    width: 100%;
    padding: 3rem;
  }

  span.breadcrumbs {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h1 {
    font-size: 3rem;
    margin: 3rem 0 0 0;
  }

  h2 {
    font-size: 1.75rem;
    padding: 1rem 0;
    margin: 2rem 0 2rem 0;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
  }

  .body-text {
    width: 100%;
  }

  .skills-card {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .strategy-card,
  .management-card,
  .techincal-card {
    width: 100%;
    margin: auto;
    padding: 0;
  }

}

@media only screen and (min-width:441px)and (max-width: 1366px) {
  .body-wrapper {
    padding: 0 2rem;
  }

  mat-toolbar {
    height: 3rem;
    font-size: 2rem;
    height: 4rem;
    background: inherit;
    width: 100%;
    padding: 3rem;
  }

  span.breadcrumbs {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h1 {
    font-size: 7rem;
    margin: 3rem 0 0 0;
  }

  h2 {
    font-size: 3.5rem;
    margin: 2rem 0 2rem 0;
    padding: 1rem 0;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
  }

  .body-text {
    width: 100%;
  }

  .skills-card {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .strategy-card,
  .management-card,
  .techincal-card {
    width: 100%;
    margin: auto;
    padding: 0;
  }
}
