.apps-wrapper {
  position: relative;
  top: -1750px;
  width: auto;
  height: 100%;
  -webkit-animation: drop 0.9s forwards 0.5s;
  animation: drop 0.9s forwards 0.5s;
}

.header-wrapper{
  width: 100%;
}

.body-wrapper {
  margin: 1.5rem;
  position: relative;
  width: auto;
  height: auto;
}

@-webkit-keyframes drop {
  100% {
    top: 0;
  }
}

@keyframes drop {
  100% {
    top: 0;
  }
}

mat-toolbar {
  height: 4rem;
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}

span.breadcrumbs {
  display: inline-flex;
}

.route {
  opacity: 50%;
}

.home {
  cursor: pointer;
}

span.breadcrumbs {
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  padding: 0 1rem;
  margin: 0;
  width: auto;
}

.headline-container {
  padding: 2rem 0.5rem;
  height: auto;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  height: auto;
  position: relative;
}

.apps-container {
  padding: 2rem 0.5rem;
}

.apps-container,
.apps-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  width: 100%;
  position: relative;
}

.content-section {
  padding-top: 1.5rem;
}

.content-section .content-header,
.apps {
  padding: 0.5rem 0;
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: var(--main-color);
}

section .contact-nav .contact-button button:hover {
  cursor: pointer;
}

.contact-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}


.footer-wrapper,
.footer-content {
  position: relative;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 1rem;
  margin: auto;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
}

.footer-content {
  position: relative;
  width: auto;
  height: auto;
  opacity: 75%;
}

@media (min-width: 720px){
  .body-text {
    width: 80%;
  }
  .apps-text, .content-text{
    font-size: 0.9rem;
  }
}

@media (min-width: 990px){
  .body-text {
    width: 60%;
  }
}