
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
  --main-color: #ff6200;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 720px) {
  .body-text {
    width: 80%;
  }

  p.intro-text {
    font-size: 0.9rem;
  }

  @media (max-width: 990px) {
    .body-text {
      width: 60%;
    }
  }

}