<div class="home-wrapper">
  <div class="header-wrapper">
    <mat-toolbar>
      <span class="spacer"></span>
      <mat-slide-toggle class="example-margin" color="primary">
      </mat-slide-toggle>
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1>
        Citium Technologies.
      </h1>
    </div>
    <div class="intro-container">
      <p class="intro-text">Citium Technologies is a consultancy firm based in Stockholm, Sweden. With love for software
        development we are
        here to
        help you deliver your next application.
        <br><br>

        Web Development | Product Development | Project Management | Analysis | and more.
        <br><br>
        Currently Product Owner for the Frontend Development Platform at Swedbank.
      </p>
    </div>
    <div class="link-wrapper">
      <div class="link-container">
        <ul class="link-list">
          <li class="link-item">
            <h2>About</h2>
          </li>
          <li class="link-item">
            <h2>Contact</h2>
          </li>
          <li class="link-item">
            <h2>Apps</h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        &copy; Citium Technologies AB | 2024
      </p>
    </div>
  </div>

</div>
