.home-wrapper {
  height: 100%;
}

.body-wrapper {
  margin: 1.5rem;
}

mat-toolbar {
  height: 4rem;
  background: inherit;
}

.spacer {
  flex: 1 1 auto;
}

span.breadcrumbs {
  display: inline-flex;
}

.route {
  opacity: 50%;
}

.home {
  cursor: pointer;
}

span.breadcrumbs {
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  padding: 0 1rem;
  margin: 0;
  width: auto;
}

mat-list mat-list-item span i:hover {
  cursor: pointer;
}


mat-list mat-list-item i {
  position: relative;
  width: auto;
  height: auto;
  visibility: hidden;
  -webkit-animation: show-toggle 0.25s forwards 1.25s;
  animation: show-toggle 0.25s forwards 1.25s;
}

@-webkit-keyframes show-toggle {
  100% {
    visibility: visible;
  }
}

@keyframes show-toggle {
  100% {
    visibility: visible;
  }
}


.headline-container {
  padding: 2rem 0.5rem;
  height: 10rem;
}

h1 {
  font-size: 3rem;
  line-height: 3.25rem;
  position: relative;
  width: 20rem;
  height: auto;
}


.intro-container {
  padding: 2rem 0.5rem;
}

p.intro-text {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.25rem;
  position: relative;
  width: auto;
  height: auto;

}


.link-wrapper {
  padding: 0 0.5rem;
  line-height: 4.5rem;
}

mat-nav-list mat-list-item h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 5rem;
}


mat-list-item {
  height: auto;
  position: relative;
  left: -500px;
  width: auto;
  height: auto;
  -webkit-animation: slide-h2 0.5s forwards 0.5s;
  animation: slide-h2 0.5s forwards 0.5s;
}

i:hover {
  color: var(--main-color);
}

.lightsOn {
  color: var(--main-color);
}

@-webkit-keyframes slide-h2 {
  100% {
    left: 0;
  }
}

@keyframes slide-h2 {
  100% {
    left: 0;
  }
}

.footer-wrapper {
  position: absolute;
  bottom: 0;

}

.footer-wrapper,
.footer-content {
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  padding: 1rem;
  margin: auto;
}

.footer-text {
  text-align: center;
  margin: 0;
  padding: 0;
  width: auto;
}

.footer-content {
  position: relative;
  width: auto;
  height: auto;
  opacity: 75%;
}
