<div class="home-wrapper">
  <div class="header-wrapper">
    <mat-toolbar color="">
      <span class="breadcrumbs">
        <p class="route"> / {{activeRoute}}</p>
      </span>
      <span class="spacer"></span>
      <div class="theme">
        <mat-list>
          <mat-list-item color="warn">
            <i class="fa-regular fa-lightbulb" (click)="onToggle()"
              [ngClass]="lightTheme ? 'lightsOn' : 'lightsOut' "></i>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1> fractions.dev</h1>
      <h2> Hampus Lagsten | Stockholm, Sweden </h2>
    </div>
    <div class="link-container">
      <div class="link" (click)="onAbout()">
        <h3>/about </h3>
      </div>
      <div class="link" (click)="onContact()">
        <h3>/contact </h3>
      </div>
      <div class="link" (click)="onApps()">
        <h3>/apps </h3>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        &copy; fractions.dev | 2024
      </p>
    </div>
  </div>
</div>
