<div class="home-wrapper">
  <div class="header-wrapper">
    <mat-toolbar color="">
      <span class="breadcrumbs">
        <p class="route"> / {{activeRoute}}</p>
      </span>
      <span class="spacer"></span>
      <div class="theme">
        <mat-list>
          <mat-list-item color="warn">
            <i class="fa-regular fa-lightbulb" (click)="onToggle()"
              [ngClass]="lightTheme ? 'lightsOn' : 'lightsOut' "></i>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-toolbar>
  </div>
  <div class="body-wrapper">
    <div class="headline-container">
      <h1>
        Citium Technologies.
      </h1>
    </div>
    <div class="intro-container">
      <p class="intro-text">Citium Technologies is a consultancy firm based in Stockholm, Sweden. With love for
        software
        development we are
        here to
        help you deliver your next application.

        <br><br>
        Web Development | Product Development | Project Management | Analysis | and more.
        <br><br>
        Currently Product Owner for the Frontend Development Platform at Swedbank.
      </p>
    </div>
    <div class="link-wrapper">
      <div class="link-container">
        <mat-nav-list>
          <mat-list-item role="navigation" (click)="onAbout()">
            <a routerLink="/contact">
              <h2>About </h2>
            </a>
          </mat-list-item>
          <mat-list-item role="navigation" (click)="onContact()">
            <h2>Contact</h2>
          </mat-list-item>
          <mat-list-item role="navigation" (click)="onApps()">
            <h2>Apps</h2>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </div>
  </div>
  <div class="footer-wrapper">
    <div class="footer-content">
      <p class="footer-text">
        &copy; Citium Technologies AB | 2024
      </p>
    </div>
  </div>
</div>
